.main {
  display: grid;
  max-width: 1207px;
  height: 382.44px;
  text-align: start;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 382.44px;
  margin: 120px auto 0 auto;
}

.container2 {
  /* padding-bottom: 30px; */
  grid-column: 2/-1;
  grid-row: 1/2;
}

.getStarted{
  box-shadow: 0rem 0rem 0rem rgba(0,0,0,0) ; 
}

/* .getStarted:hover {
  box-shadow: 2rem 5rem 4rem rgba(245, 56, 56, 1);
} */
